<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.Hero.Avatar }}" style="max-width: 50%; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Site.Params.Hero.subtitle }}</h2>
            {{ partial "icons.html" . }}
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Hero.Resume }}" target="blank" class="download-resume" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg">
                Download Resume</a>
        </div>
        <div class="hero-right">
            {{ range $paragraph := .Site.Params.Hero.hero_right }}
                <p>{{ $paragraph | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>